<app-nav [isLogged]="isLoggedIn"></app-nav>

<h1>Bienvenue</h1>

<div class="cases">
  <div class="case" routerLink="/users">
    <h2>Users</h2>
    <h3>-Lister les utilisateurs</h3>
    <h3>-Accéder à la fiche d'un utilisateur</h3>
    <h3>-Rechercher un utilisateur</h3>
    <h3>-Ajouter un utilisateur</h3>
  </div>
  <div class="case" routerLink="/associations">
    <h2>Associations</h2>
    <h3>-Lister les associations</h3>
    <h3>-Accéder à la fiche d'une associations</h3>
    <h3>-Rechercher une association</h3>
    <h3>-Ajouter une associations</h3>
  </div>
</div>
